@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    font-family: "Mulish", sans-serif;
}
/* NAV START HERE */
nav{
    font-family: "Mulish", sans-serif;
    display: flex;
    width: 1200px;
    margin: 50px auto;
    justify-content: space-between;
}
nav h1{
    font-size: 2.25rem;
    font-weight: bold;
}
.logo{
    display: flex;
    align-items: center;
    gap: 25px;
}
.pages{
    display: flex;
    align-items: center;
}
.pages>a>p{
    margin-left: 25px;
}
.pages>a{
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-size: 1.125rem;
}
/* banner start here */
.banner{
    width: 1200px;
    margin: 50px auto;
    height: 500px;
    background-image:linear-gradient( 180deg,rgba(19, 19, 24, 0.8)0%, rgba(19, 19, 24, 0) 100%), url("../Images/mainbanner.png");
    background-repeat: repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    font-family: "Mulish", sans-serif;
}
.text-section h1{
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
.text-section p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
}
.input-section{
    background-color: rgba(255, 255, 255, 0.3);
    width: 800px;
    margin: 40px auto;
    padding: 16px;
    border-radius: 8px;
}
.input-section input{
    height: 52px;
    width: 174px;
    border-radius: 8px;
    border: none;
    padding-left:15px ;
    color: rgba(19, 19, 24, 0.5);
    margin-left: 16px;
}
.options{
    height: 52px;
    width: 174px;
    border-radius: 8px;
    border: none;
    padding-left:15px ;
    color: rgba(19, 19, 24, 0.5);
    margin-left: 16px;
}
.btn-find-now{
    height: 52px;
    width: 174px;
    border-radius: 8px;
    background-color: rgb(255, 84, 0);
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 16px;
}
.btn-find-now i{
    padding-right: 8px;
}
/* Popular start here */
.popular{
    height: 550px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.popular-text-section{
    width: 577px;
}
.popular-text-section h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(19, 19, 24);
    margin-bottom: 24px;
}
.popular-text-section p{
    color: rgba(19, 19, 24, 0.7);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.popular-text-section ul li{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.7);
    margin-bottom: 24px;
    margin-left: 20px;
}
.popular-text-section button{
    height: 52px;
    width: 174px;
    border-radius: 8px;
    background-color: rgb(255, 84, 0);
    color: white;
    border: none;
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 32px;
}
/* Destination section start here */
.destination{
    width: 1200px;
    margin: 0 auto;
}
.destination img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}
.destination-text{
    margin-top: 100px;
    text-align: center; 
}
.destination-text h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(19, 19, 24);
}
.destination-text p{
    color: rgba(19, 19, 24, 0.7);
    margin-top: 24px;
}
.row-1{
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.country-card{
    position: relative;
}
.country-card p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: bold;
}
.row-2{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1.20fr 0.80fr;
    gap: 1rem;
}
.row-3{
    display: grid;
    grid-template-columns:0.80fr 1.20fr;
    gap: 1rem;
    margin-top: 1rem;
}
/* Why Choose Us start here */
.choose{
    width: 1200px;
    margin: 0 auto;
}
.card-hotel{
    padding: 32px;
    background-color: rgba(251, 181, 99, 0.05);
    border: 1px	solid rgba(251, 181, 99, 0.2);
    border-radius: 1rem;

}
.card-hotel img{
    height: 64px;
    width: 64px;
}
.card-hotel h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(19, 19, 24);
    margin-top: 32px;
}
.card-hotel p{
    color: rgba(19, 19, 24, 0.7);
    margin-top: 24px;
}
.card-hotel-service{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.card-service{
    background-color: rgba(41, 206, 246, 0.05);
    border: 1px	solid rgba(41, 206, 246, 0.2);
}
.price-box{
    width: 573px;
    margin: 0 auto;
    margin-top: 1rem;
}
.price{
    background-color: rgba(233, 68, 68, 0.05);
    border: 1px	solid rgba(233, 68, 68, 0.2);
}
/* Deals & Discounts */
.deals{
    width: 1170px;
    margin: 0 auto;
}
.deals-card-1{
    background-image: url("../Images/bg1.png");
    background-repeat: repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 0.85fr 1.15fr;
    border-radius: 1rem;
    margin-top: 48px;
}
.deals-icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-left: 15px;
}
.deals-icons-p{
    display: flex;
    align-items: center;
    margin-left: 8px;
    gap: 10px;
}
.deals-contet{
    margin: 56px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    border: 2px solid rgb(255, 255, 255);
}
.deals-texts h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(19, 19, 24);
    margin-top: 16px;
}
.deals-texts p{
    color: rgba(19, 19, 24, 0.7);
    margin-top: 16px;
}
.price-usd{
    font-size: 1.25rem;
    font-weight: 800;
    margin-top: 1rem;
    color: rgb(255, 84, 0);
    margin-bottom: 24px;
}
.price-btn{
    margin-left: 0;
}
.deals-card-2{
    grid-template-columns: 1.15fr 0.85fr;
    background-image: url("../Images/bg2.png");
}